body {
	background-image: url("backgrounds/crossword/crossword/crossword.png");
	font-family: Arial;
}

h1 {
	color: darkcyan;
}

.cvsechead {
	color: darkgray;
}

.subteaching {
	color: darkgray;
	font-style: italic;
}