body {
	background-image: url("backgrounds/crossword/crossword/crossword.png");
	font-family: Arial;
	margin-left: 80px;
}

h1 {
	color: darkcyan;
}

.contact {
	margin: 0 0 10px 0;
	float: left;
}

.cvsechead {
	color: lightsteelblue;
}

.subteaching {
	color: darkgray;
	font-style: italic;
	margin-left: 40px;
}

ul {
	list-style-type: none;
}

li {
	margin: 0 0 10px 0;
}

p {
	display: none;
}